body{
    margin-left: 200px;
    margin-top: 100px;
    padding: 0;
    background-color: rgb(47, 186, 196);
}

button{
    padding: 20px;
    font-size: 30px;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    background-color: hotpink;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

button:hover{
    background-color: rgb(7, 184, 110);
}

h3{
    margin-left: 30px;
    color: rgb(228, 31, 106);
    font-size: 50px;
    font-weight: bold;
    font-style: oblique;
}